main {
	align-items: center;
	background: url(../imgs/layout/bg.jpg) 0 0 no-repeat;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
    justify-content: center;
    height: 100vh;

	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 75%;

		@include desktop {
			max-width: 60em;
		}
	}

	h1 {
		margin: 0 0 1rem 0;
	}

	p.type {
		&:after {
			content: ' ';
			animation: blink 1s infinite;
			border-right: solid 1px #000;
		}
	}

	.social {
		display: flex;
		margin: 1.5rem 0;

		li {
			margin-right: 1rem;

			a {
				background: $primary;
				border-radius: 50%;
				display: block;
				height: 2.5rem;
				padding: .5rem;
				transition: all 0.3s linear;
				width: 2.5rem;

				&:hover {
					opacity: 0.7
				}

			}

		}

	}

	.svg-fill {
		fill: $tertiary;
	}

	.svg-stroke {
		stroke: $tertiary;
	}
}
