html {
	font-size: 16px;
}

body {
	font-family: 'Inconsolata', Consolas;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Merriweather', serif;
}

h1 {
	font-size: 5.5vw;

	@include desktop {
		font-size: 3vw;
	}

}

h2 {
	font-size: 4vw;

	@include tablet {
		font-size: 3vw;
	}

	@include desktop {
		font-size: 3vw;
	}

}

p {
	font-size: 4vw;
	line-height: 5vw;
	margin: 5px 0;

	@include tablet {

		@include landscape {
			font-size: 2vw;
		}

	}

	@include desktop {
		font-size: 1.2vw;
		line-height: 1.8vw;
	}
}
