@use "../config/variables" as *;

.bullet-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__item {
        align-items: center;
        display: flex;
        gap: 0.85rem;

        &::before {
            background-color: var(--color-salmon);
            content: "";
            display: block;
            flex-shrink: 0;
            height: 1.25rem;
            width: 1.25rem;
        }
    }
}
