@scope (.core-areas) {
    :scope {
        padding: 0;
    }

    .core-area {
        h3 {
            font-size: 1.25rem;
            margin-block-end: 0.75rem;
        }

        .bullet-list {
            margin-block-start: 1rem;
        }
    }

    .core-area + .core-area {
        margin-block-start: 3rem;
    }
}
