@use "../config/breakpoints" as *;
@use "../config/mixins" as *;

.engagement-details {
    padding-block-start: 0;

    &__grid {
        margin-block-start: 1.5rem;
        @include bordered-grid(2);
    }

    &__card {
        @include bordered-grid-cell($gap: 0.75rem, $p-block: 2rem, $p-inline: 1.5rem);

        &:last-child:nth-child(odd) {
            @include tablet {
                grid-column: 1 / -1;
            }
        }
    }
}

@scope (.engagement-details) {
    p + p {
        margin: 0;
    }

    ul {
        list-style: inside;
    }
}
