@scope (.latest-post) {
    :scope {
        padding-block-start: 0;
    }

    .card {
        background-color: var(--color-light);
        border-inline-start: 3px solid var(--color-salmon);
        margin-block: 2rem 1.5rem;
        padding: 1.5rem;
    }
}
