@use "../config/variables" as *;
@use "../config/mixins" as *;

.blog-list {
    border-block-start: 1px solid var(--color-salmon);
    margin-block-start: 2rem;

    &__item {
        border-block-end: 1px solid var(--color-salmon);
        padding-block: 2rem;
    }
}
