@use "../config/variables" as *;
@use "../config/mixins" as *;

.post-list {
    border-block-start: 1px solid var(--color-salmon);
    margin-block-start: 2rem;
}

.post-list__item {
    border-block-end: 1px solid var(--color-salmon);
    padding-block: 2rem;

    h2 {
        font-size: 1.25rem;
        margin-block-end: 0.5rem;

        a {
            @include slide-bg-hover($hover-text-color: var(--color-green-dark));
        }
    }

    p {
        margin-block-start: 0.5rem;
    }
}

.latest-post {
    padding-block-start: 0;

    a {
        @include slide-bg-hover($hover-text-color: var(--color-green-dark));
    }
}

.latest-post__card {
    background-color: var(--color-light);
    border-inline-start: 3px solid var(--color-salmon);
    margin-block-start: 2rem;
    margin-block-end: 1.5rem;
    padding-block: 1.5rem;
    padding-inline: 1.5rem;

    h3 {
        font-size: 1.25rem;
        margin-block-end: 0.5rem;
    }

    p {
        margin-block-start: 0.5rem;
    }
}
