@use "../config/variables" as *;
@use "../config/mixins" as *;
@use "sass:color";

.contact {
    padding-block-start: 0;

    p {
        line-height: 1.7;
        margin-block-end: 0.5rem;
    }

    &__email {
        color: var(--color-text);
        font-weight: 700;
        @include slide-bg-hover($hover-text-color: var(--color-green));

        &:active {
            color: color-mix(in srgb, var(--color-green), black 10%);
        }
    }
}
