@use "../config/variables" as *;
@use "../config/mixins" as *;
@use "sass:color";

.contact {
    padding-top: 0;

    p {
        line-height: 1.7;
        margin-bottom: 0.5rem;
    }

    &__email {
        color: $color-text;
        font-weight: 700;
        @include slide-bg-hover($hover-text-color: $color-green);

        &:active {
            color: color.adjust($color-green, $lightness: -10%);
        }
    }
}
