@use "../config/variables" as *;

@use "../config/mixins" as *;

.engagement {

    &__subtitle {
        margin-bottom: 2rem;
    }

    &__grid {
        @include bordered-grid(3);
    }

    &__cell {
        @include bordered-grid-cell;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1.5rem 1.25rem;
    }

    &__term {
        margin-bottom: .5rem;
    }

    &__cell--cta {
        padding: 0;
    }

    &__cta-link {
        align-items: center;
        color: $color-green;
        display: flex;
        justify-content: center;
        height: 100%;
        padding: 2.25rem 0;
        text-decoration: none;
        transition: color 0.2s ease;
        width: 100%;

        &:hover {
            background: $color-salmon;
        }

        &:active {
            color: $color-green-dark;
        }

        @include focus-ring();
    }
}
