@use "../config/variables" as *;

@use "../config/mixins" as *;

.engagement {

    &__subtitle {
        margin-block-end: 1.5rem;
    }

    &__grid {
        @include bordered-grid(3);
    }

    &__cell {
        @include bordered-grid-cell($p-block: 1.5rem, $p-inline: 1.25rem, $gap: 0.5rem);
    }

    &__cell--link {
        padding-block: 0;
        padding-inline: 0;
    }

    &__cta {
        align-items: center;
        color: var(--color-green);
        display: flex;
        justify-content: center;
        height: 100%;
        padding-block: 2.25rem;
        text-decoration: none;
        transition: color 0.2s ease;
        width: 100%;

        &:hover {
            background: var(--color-salmon);
        }

        &:active {
            color: var(--color-green-dark);
        }
    }
}
