@use "../config/variables" as *;
@use "../config/breakpoints" as *;

.focus {
    &__grid {
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr;
        margin-top: 2.5rem;

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }

        @include desktop {
            gap: 1.5rem;
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        height: 100%;
        padding: 1.5rem 1rem;
        position: relative;

        &:nth-child(even) {
            &::after {
                left: 0;
                top: -.5rem;
                transform: rotate(1deg);
            }

            &::before {
                left: .1rem;
                top: 0;
                transform: rotate(-1deg);
            }
        }

        &::after {
            background-color: $color-green;
            content: '';
            height: 100%;
            left: -.1rem;
            padding: .25rem;
            position: absolute;
            top: -.5rem;
            transform: rotate(1deg);
            transform-origin: left top;
            width: 100%;
            z-index: -2;
        }

        &::before {
            background-color: $color-salmon;
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            transform: rotate(-1deg);
            transform-origin: left top;
            width: 100%;
            z-index: -1;
        }
    }

    &__card-title {
        color: $color-text;
        font-size: 1rem;
    }
}
