@use "../config/mixins" as *;

.footer {
    background-color: var(--color-green);
    padding-block: var(--section-spacing);

    &__title {
        color: var(--color-bg);
        margin-top: 0;
    }
}

.social {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

    &__link {
        color: var(--color-bg);
        text-decoration: none;
        @include slide-bg-hover();

        &:active {
            color: color-mix(in srgb, var(--color-salmon), black 10%);
        }

        @include focus-ring(var(--color-bg), 3px);
    }
}

.footer-credit {
    color: var(--color-text);
    font-size: .75rem;
    padding-block: .25rem;
    text-align: center;
}
