@use "sass:color";
@use "../config/variables" as *;
@use "../config/breakpoints" as *;
@use "../config/mixins" as *;

.footer {
    background-color: $color-green;
    padding: 3rem 0;

    @include tablet {
        padding: 4rem 0;
    }

    &__title {
        color: $color-bg;
        font-size: 1.75rem;
        margin-bottom: 1.5rem;

        @include tablet {
            font-size: 2.25rem;
        }
    }
}

.social {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

    &__link {
        color: $color-bg;
        font-size: 0.875rem;
        text-decoration: none;
        @include slide-bg-hover();

        &:active {
            color: color.adjust($color-salmon, $lightness: -10%);
        }

        @include focus-ring($color-bg, 3px);
    }
}

.footer-credit {
    color: $color-text;
    font-size: 0.75rem;
    padding: .25rem 0;
    text-align: center;
}
