@use "../config/breakpoints" as *;
@use "../config/variables" as *;
@use "../config/mixins" as *;

.header {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .1);
    padding-block: 1rem;

    @include tablet {
        padding-block: 1.75rem;
    }

    &__container {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 1rem;

        @include tablet {
            flex-direction: row;
            gap: 0;
            justify-content: space-between;
        }
    }

    &__logo {
        color: var(--color-green);
        font-family: 'Merriweather', serif;
        font-size: 1.5rem;
        font-style: italic;
        font-weight: 900;
        min-height: 36px;
    }
}

.nav {
    display: flex;
    gap: 1.5rem;
    justify-content: space-around;

    &:has(&__link:hover) &__link:not(:hover) {
        opacity: 0.6;
    }

    &__link {
        color: var(--color-green);
        font-weight: bold;
        transition: opacity 0.2s ease;
        @include focus-ring();
        @include slide-bg-hover($hover-text-color: var(--color-green-dark));
    }
}
