@use "../config/variables" as *;
@use "../config/breakpoints" as *;

html {
    font-size: 16px;
}

body {
    background-color: $color-bg;
    color: $color-text;
    font-family: 'Inconsolata', Consolas, monospace;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color-green;
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: 900;
    line-height: 1.2;
}

p {
    font-size: 0.875rem;
    line-height: 1.6;

    @include tablet {
        font-size: 0.9rem;
    }
}
