@use "../config/variables" as *;
@use "../config/breakpoints" as *;

@font-face {
    font-display: swap;
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 900;
    src: url('../../fonts/merriweather-900italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/inconsolata-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 600;
  src: url('../../fonts/inconsolata-600.woff2') format('woff2');
}

html {
    font-size: 16px;
}

body {
    background-color: $color-bg;
    color: $color-text;
    font-family: 'Inconsolata', Courier New, monospace;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color-green;
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: 900;
    line-height: 1.2;
}

h1 {
    font-size: 1.85rem;
    margin: .75rem 0;

    @include tablet {
        font-size: 2.75rem;
        margin: 1rem 0;
    }
}

h2 {
    font-size: 1.75rem;

    @include tablet {
        font-size: 2.25rem;
    }
}
