<!doctype html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="UTF-8" />
        <link rel="shortcut icon" href="/favicon.ico" />

        <link rel="stylesheet" href="/style.css" />

        <meta name="description" content="{{ description }}" />
        {% if keywords %}
        <meta name="keywords" content="{{ keywords }}" />
        {% endif %}

        {% if ogTitle %}
        <meta property="og:type" content="website" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:url" content="{{ ogUrl }}" />
        <meta property="og:title" content="{{ ogTitle }}" />
        <meta property="og:site_name" content="Amanda Vilela" />
        <meta property="og:description" content="{{ ogDescription }}" />
        {% endif %}

        <link rel="canonical" href="https://amandavilela.me{{ page.url }}" />

        <!-- Google tag (gtag.js) -->
        <script>
            if (window.location.hostname !== 'localhost') {
                const script = document.createElement('script');
                script.src = 'https://www.googletagmanager.com/gtag/js?id=G-GSM2PDRLRD';
                script.async = true;
                script.onload = () => {
                    window.dataLayer = window.dataLayer || [];
                    function gtag(){dataLayer.push(arguments);}
                    gtag('js', new Date());

                    gtag('config', 'G-GSM2PDRLRD');
                };

                document.head.appendChild(script);
            }
        </script>
    </head>
    <body>
        <a class="skip-link" href="#main-content">Skip to main content</a>

        {% if page.url != '/' and page.url != '/404/' %}
            <header class="header">
                <div class="container header__container">
                    <a class="header__logo" href="/">Amanda Vilela</a>
                    <nav>
                        <ul class="nav" role="list">
                            <li><a class="nav__link" href="/">Home</a></li>
                            <li><a class="nav__link" href="/services/">Services</a></li>
                            <li><a class="nav__link" href="/blog/">Blog</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
        {% endif %}

        {{ content | safe }}

        {% if page.url != '/404/' %}
            <footer class="footer" id="find-me">
                <div class="container">
                    <h2 class="footer__title">Find me online</h2>
                    <ul class="social" role="list">
                        <li>
                            <a
                                class="social__link"
                                href="https://br.linkedin.com/in/amanda-vilela"
                                target="_blank"
                                rel="noopener noreferrer"
                                >LinkedIn</a
                            >
                        </li>
                        <li>
                            <a
                                class="social__link"
                                href="https://github.com/amandavilela"
                                target="_blank"
                                rel="noopener noreferrer"
                                >GitHub</a
                            >
                        </li>
                        <li>
                            <a
                                class="social__link"
                                href="http://codepen.io/amandavilela/"
                                target="_blank"
                                rel="noopener noreferrer"
                                >Codepen</a
                            >
                        </li>
                        <li>
                            <a
                                class="social__link"
                                href="https://speakerdeck.com/amandavilela"
                                target="_blank"
                                rel="noopener noreferrer"
                                >Speakerdeck</a
                            >
                        </li>
                        <li>
                            <a
                                class="social__link"
                                href="https://medium.com/@amandavilela"
                                target="_blank"
                                rel="noopener noreferrer"
                                >Medium</a
                            >
                        </li>
                    </ul>
                </div>
            </footer>
        {% endif %}
        <div class="footer-credit">designed and coded by Amanda Vilela</div>
    </body>
</html>
