---
layout: layouts/base.njk
page_css: post
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ title }}",
  "datePublished": "{{ date | htmlDateString }}",
  "author": {
    "@type": "Person",
    "name": "Amanda Vilela",
    "url": "https://amandavilela.me/",
    "sameAs": [
        "https://br.linkedin.com/in/amanda-vilela",
        "https://github.com/amandavilela",
        "http://codepen.io/amandavilela/",
        "https://speakerdeck.com/amandavilela",
        "https://medium.com/@amandavilela"
    ]
  },
  "publisher": {
    "@type": "Person",
    "name": "Amanda Vilela",
    "url": "https://amandavilela.me/",
    "logo": {
      "@type": "ImageObject",
      "url": "https://amandavilela.me/imgs/layout/profile.webp"
    }
  },
  "url": "https://amandavilela.me{{ page.url }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://amandavilela.me{{ page.url }}"
  }
  {% if description %},"description": "{{ description | replace('"', '\\"') }}"{% endif %}
  {% if open_graph %},"image": "https://amandavilela.me/{{ open_graph.image }}"{% endif %}
}
</script>

<main id="main-content" class="post">
    <article class="container">
        <header class="header">
            <h1>{{ title }}</h1>
            <p class="meta"><time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time> by <a href="/" rel="author">Amanda Vilela</a></p>
        </header>
        <section class="body">
            {{ content | safe }}
        </section>
    </article>

    {% set related = collections.posts | relatedPosts(page.url, category) %}
    {% if related.length %}
        <section class="related-posts" aria-labelledby="related-posts-title">
            <div class="container">
                <h2 id="related-posts-title" class="title">Posts you might like</h2>
                <ul class="list">
                    {% for post in related %}
                        <li class="item">
                            <article class="post-summary">
                                <h3 class="title">
                                    <a class="link u-focus-ring" href="{{ post.url }}">{{ post.data.title | breadcrumbTitle }}</a>
                                </h3>
                                <p class="meta">
                                    <time class="date" datetime="{{ post.date | htmlDateString }}">
                                        {{ post.date | readableDate }}
                                    </time> by <a href="/" rel="author">Amanda Vilela</a>
                                </p>
                                {% if post.data.description %}
                                    <p class="description">{{ post.data.description | truncate(90) }}</p>
                                {% endif %}
                            </article>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    {% endif %}
</main>

<script src="/js/copy-code.js" async></script>
