---
layout: layouts/base.njk
page_css: post
---

<main id="main-content" class="post">
    <article class="container" itemscope itemtype="https://schema.org/BlogPosting">
        <header class="header">
            <h1 itemprop="headline">{{ title }}</h1>
            <time class="date" itemprop="datePublished" datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
        </header>
        <section class="body" itemprop="articleBody">
            {{ content | safe }}
        </section>
    </article>
</main>

<script src="/js/copy-code.js" async></script>
