---
layout: layouts/base.njk
page_css: post
---

<main id="main-content">
    <article class="post__container" itemscope itemtype="https://schema.org/BlogPosting">
        <header class="post__header">
            <h1 itemprop="headline">{{ title }}</h1>
            <time class="post__date" itemprop="datePublished" datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
        </header>
        <section class="post__body" itemprop="articleBody">
            {{ content | safe }}
        </section>
    </article>
</main>
