.she-said {
	background-image: url(../imgs/portfolio/she-said.jpg);
}

.dora-adora {
	background-image: url(../imgs/portfolio/dora-adora.jpg);
}

.etec {
	background-image: url(../imgs/portfolio/etec.jpg);
}

.holder {

	border-top: 100vh solid rgba(35,35,35, 0.9);
	height: 0;
	width: 76vw;
	position: relative;

	@include desktop {
		width: 42vw;
	}

	.desc {

		position: absolute;
		bottom: 31vh;
		left: 3vw;
		text-align: center;
		color: $secondary;
		padding: 0 1vw;

		@include landscape {
			bottom: 19vh;
		}

		@include desktop {
			bottom: 36vh;
		}

		strong {
			font-size: 7vw;
			display: block;
			text-transform: uppercase;
			font-weight: 400;

			@include landscape {
				font-size: 4vw;
			}

			@include desktop {
				font-size: 3vw;
			}
		}

		p {
			line-height: 4.2vh;
			margin: 4vh 0;

			@include landscape {
				line-height: 8vh;
			}

			@include tablet {
				@include landscape {
					line-height: 4.2vh;
				}
			}

		}

		.view {

			padding: 2vh 4vw;
			margin: 5px;
			@include skew(20deg);
			background: $secondary;
			display: inline-block;
			@include transition(all 0.3s linear);

			@include desktop {
				padding: 1.5vh 3vw;
			}

			span {
				color: $primary;
				text-transform: uppercase;
				@include skew(-20deg);
				display: block;
				font-size: 3.5vw;

				@include desktop {
					font-size: 0.8vw;
				}

			}

			&:hover {
				background: $primary;

				span{
					color: $secondary;
				}

			}

		}

	}

}

.holder-left {
	border-right: 12vw solid transparent;
}

.holder-right {

	border-left: 12vw solid transparent;
	float: right;

	.desc{
		left: -6vw
	}

}
