header {

	padding: 3em 1.2rem;
	text-align: center;
	display: flex;
	align-items: center;
  justify-content: center;
	flex-flow: column;

	@include desktop {
		padding: 3em 10rem;
	}

	.name {

		margin: 0 auto;
		text-align: center;

		h1 {
			letter-spacing: -2px;
			font-weight: 900;
			margin: 0;
			text-transform: uppercase;
			color: $primary;
		}

		h2 {
			margin: 10px 0;
			text-transform: uppercase;
			color: $primary;
		}

	}

	p{

		width: 90%;

		@include desktop {
			width: 58%;
		}
	}

	.perfil {

		@include border-radius(50%);
		margin: 5vh auto;
		display: block;
		width: 46%;
		height: auto;

		@include tablet {
			width: 100%;
			max-width: 202px;
			margin: 7vh auto;
		}
		
	}

	.social {

		text-align: center;
		margin: 7vh 0;

		@include desktop {
			margin: 10vh 0;
		}

		li {

			display: inline-block;
			margin: 0 0.6vw;

			a {
				display: block;
				width: 8vw;
				height: 8vw;
				max-width: 42px;
				max-height: 42px;
				background-size: 100% 100%;
				background-position: 0 0;
				background-repeat: no-repeat;
				@include transition(all 0.3s linear);

				&.linkedin {
					background-image: url(../imgs/layout/linkedin.png);
				}

				&.behance {
				  background-image: url(../imgs/layout/behance.png);
				}

				&.github {
				  background-image: url(../imgs/layout/github.png);
				}

				&.pinterest {
				  background-image: url(../imgs/layout/pinterest.png);
				}

				&.medium {
				  background-image: url(../imgs/layout/medium.png);
				}

				&.behance {
				  background-image:url(../imgs/layout/behance.png);
				}

				&.codepen {
				  background-image: url(../imgs/layout/codepen.png);
				}

				&.mail {
				  background-image: url(../imgs/layout/mail.png);
				}

				&:hover {
				  opacity: 0.7
				}

			}

		}

	}

	.arrow{
		background: url(../imgs/layout/arrow.png) 0 0 no-repeat;
		background-size: 100% 100%;
		width: 32px;
		height: 19px;
		display: inline-block;

		@include tablet {
			width: 55px;
			height: 32px;
		}

		@include desktop {
			width: 69px;
			height: 44px;
		}
	}

}
