@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

@mixin box-sizing($box) {
  -webkit-box-sizing:   $box;
  -moz-box-sizing:      $box;
  box-sizing:           $box;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius:    $radius;
  border-radius:         $radius;
}

@mixin transform($transforms) {
  -moz-transform:    $transforms;
  -o-transform:      $transforms;
  -ms-transform:     $transforms;
  -webkit-transform: $transforms;
  transform:         $transforms;
}

@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

@mixin scale($scale) {
	 @include transform(scale($scale));
}

@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}

@mixin skew ($deg) {
   @include transform(skew($deg));
}

@mixin transform-origin ($origin) {
  -moz-transform-origin:     $origin;
  -o-transform-origin:       $origin;
  -ms-transform-origin:      $origin;
  -webkit-transform-origin:  $origin;
  transform-origin:          $origin;
}
