:root {
    --color-bg: #FAFAFA;
    --color-green: #3D6E59;
    --color-green-dark: #1e4430;
    --color-salmon: #FFE4D9;
    --color-text: #5f5f5f;
    --color-light: #FEF7F5;
    --color-white: #FFFFFF;
}
