---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {%- for post in collections.all | reverse -%}
        {%- if post.url and '/404' not in post.url and '/sitemap' not in post.url and post.date <= now -%}
            <url>
                <loc>https://amandavilela.me{{ post.url }}</loc>
                <lastmod>{{ post.date | htmlDateString }}</lastmod>
                <changefreq>monthly</changefreq>
                <priority>0.8</priority>
            </url>
        {%- endif -%}
    {%- endfor -%}
</urlset>
